{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <hr class="pt-1 mt-5">
        <h3>La liste de nos voitures</h3>
        <hr class="pt-1 mt-3">
        {# {{ dump(voitures) }} #}
        {% for voiture in voitures %}
        <div class="col-12 col-lg-4 mt-5">
            <div class="card" style="width: 18rem;">
                <small><img src="..." class="card-img-top" alt="image voiture"></small>
                <div class="card-body">
                    <h5 class="card-title">{{ voiture.nom|raw }}</h5>
                    <p class="card-text">{{ voiture.description|raw }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ voiture.marque|raw }}</li>
                    <li class="list-group-item">{{ voiture.couleur|raw }}</li>
                    <li class="list-group-item">{{ voiture.prix }}&ensp;€</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Lien 1</a>
                    <a href="#" class="card-link">Lien 2</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}